<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
</head>

<body>
    <nav>
        <ul>
            {% for item in site.data.pages.pages %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </nav>
    <div class="container">
        {{ content }}
    </div>
    <footer>
        <ul>
            {% for item in site.data.links.footer %}
            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
    </footer>
</body>

</html>